<!DOCTYPE html>
<html lang="ja">
<head>
<title> chat</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="./css/bootstrap.min.css" rel="stylesheet">
<script type="text/javascript" src="/socket.io/socket.io.js"></script>
<script type="text/javascript">

var socket = io.connect("http://localhost:3000");

/*socket.on('send message',function(chat){
    var element = document.getElementById("messages");

    for (var key in chat) {
      console.log(chat[key]);
      var add_element = document.createElement('li');
      add_element.textContent = chat[key];
      element.appendChild(add_element);
    }
});
*/
socket.on('send message',function(chat){
    var element = document.getElementById("messages");
    var first_element = document.createElement('div');
    first_element.classNmae = 'panel-heading';
    first_element.textContent = chat.user;
    element.appendChild(first_element);

    var second_element = document.createElement('div');
    second_element.classNmae = 'panel-body';
    second_element.textContent = chat.message;
    element.appendChild(second_element);

    var third_element = document.createElement('div');
    third_element.classNmae = 'panel-footer';
    second_element.textContent = chat.time;
    element.appendChild(third_element);

});


function SendMessage(){
  var message;
  message = document.getElementById("m").value;
  document.getElementById("m").value = "";
  socket.emit('chat message',message);
}
</script>
</head>
<body>
<div class="containar">
<input id="m" autocomplete="off" /><button onclick="SendMessage()">Send</button>
<!--ul id="messages"></ul-->
<div class="panel panel-primary" id="messages"><div>
</div>
</body>
</html>
