<!DOCTYPE html>
<html lang="ja">
<head>
<title> chat</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<meta name="viewport" content="width=device-width, initial-scale=1">
</script>
</head>
<body>
<% include header %>
<div class="container">
  <form action="./create" method="post">
    <div class="ui-widget">
      <div class="form-group">
        <label><h2>質問投稿</h2></label>
        <textarea name="question" cols="50" rows="7" class="form-control" placeholder="Your question!!!" required autofocus></textarea>
      </div>
    </div>
    <div class="col-sm-offset-11 text-center">
      <button type="submit" class="btn btn-info">help me!</button>
    </div>
  </form>
  <br>
  <div class="panel panel-warning">
    <div class="panel-heading">質問一覧</div>
      <div class="panel-body">
        <p>質問を選んでチャットルームに移動します。</div>
          <div class="table-responsive">
            <table class="table table-stripe">
              <thead>
                <tr>
                  <th>質問</th>
                  <th>チャットへ移動</th>
                </tr>
              </thead>
              <tbody>
                <% data.forEach(function(question){ %>
                <tr>
                  <td><%=question.question%></td>
                  <td><a class="btn btn-danger" href="../create/<%=question._id%>/<%=question.question%>">chat</a></td>
                </tr>
                <%})%>
              </tbody>
            </table>
          </div>
      </div>
  </div>
</div>
</body>
</html>
