<!DOCTYPE html>
<html lang="ja">
<body>
<% include header %>
<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">Welcome to Chat place!!</h1>
    <p> このシステムは質問投稿＆回答のチャットシステムです。
      <br>まずはユーザー登録をしてログインしてください。
      <br>何かわからないことをがあれば入力フォームから質問を入力します。
      <br>その質問に対してほかのユーザーがリアルタイムで回答をくれるでしょう。</p>
  </div>
</div>

<div class="container">
  <h2> OSS </h2>
  <P>
  This system is open source system.
  please cheak my github repository. <br>
  If you want to learn realtime chat system,
  this repository help you to devlope your system.<br>
  This is link to github <a href="https://github.com/hikaru7719/chat_app">repository</a>.
</p>
</body>
