<!DOCTYPE html>
<html lang="ja">
<head>
<title> chat</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://young-mesa-49188.herokuapp.com/views/css/bootstrap.min.css" type ="text/css" rel="stylesheet">
</script>
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid ">
   <div class="navbar-header">
   <a href="./create" class="navbar-brand" >Bug袋</a>
   </div>
   <ul class="nav navbar-nav">
  <li> <a href="/"> add user</a> </li>
  <li> <a href="/create"> chat</a></li>
  </ul>
</nav>
</body>
</html>
