<!DOCTYPE html>
<html lang="ja">
<body>
<p>User登録</p>
<form  action="./addUser" method="post">
<input type="text" name="id" value="">
<input type="password" name="password" vaue="">
<input type="submit" value="OK">
</form>
</body>
</html>
