<!DOCTYPE html>
<html lang="ja">
<body>
<h2>User登録</h2>
<p>welcome <%=name %> !!!<p>
<form  action="./addUser" method="post">
<input type="text" name="id" value="">
<input type="password" name="password" value="">
<input type="submit" value="OK">
</form>
</body>
</html>
